.chat-input {
  display: flex;
  align-items: center; /* Align items vertically in the flex container */
  color: white;

}

.message-input {
  flex: 1;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  margin-right: 10px; /* Add spacing between input and button */
}
