/* Styles for the friends list */
.room-list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chats-list-container {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chats-list-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.chats-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chats-list-container li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.create-a-room-button {
  background-color: #4aaf3f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-a-room-button:hover {
  background-color: #067128;
}
